$base-color: #2c9299;
$white: #fff;
$black: #000;
$grey: grey;
$red: red;
$base-border: grey;
$poster-box-bg: #ebf9fa;
$poster-box-text: #282727;
$film-info-line: #196166;
$nav-bar-hover: #7BCCD0;
$nav-bar-active: #1f686d;
$nav-bar: #076B70;