{% extends "layouts/base.njk" %}

    {% block main %}

    <div class="container">
      <div class="row">
        <div class="col-md-3 col-md-push-9">
            {% include "partials/sidebar.html" %}
        </div>
        <div class="col-md-9 col-md-pull-3">
          {{ content | safe }}
        </div>
      </div>
    </div>
    
    {% endblock %}
